@import "../../sass/variable.scss";

.icon {
  // &--myself {
  //   width: 35px;
  //   height: 35px;
  //   padding: 0.1rem;
  //   border: 2px solid $color__main;
  //   box-sizing: border-box;
  //   filter: drop-shadow(0px 0px 10px $color__main);
  //   border-radius: 100px;
  //   animation-name: iconsPulse;
  //   animation-iteration-count: infinite;
  //   animation-duration: 1s;
  // }

  &--stop {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@keyframes iconsPulse {
  0% {
    filter: drop-shadow(0px 0px 0px #00a8c0);
  }
  50% {
    filter: drop-shadow(0px 0px 10px #00a8c0);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #00a8c0);
  }
}
