// @import "../../sass/variable.scss";

.icon {
  &--nearStop {
    width: 3.5rem;
    height: 3.5rem;
  }

  &--stop {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@keyframes iconsPulse {
  0% {
    filter: drop-shadow(0px 0px 0px #00a8c0);
  }
  50% {
    filter: drop-shadow(0px 0px 10px #00a8c0);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #00a8c0);
  }
}
