@import "./variable.scss";

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: none;
  box-sizing: border-box;
}
a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

svg {
  background-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  // width: 100%;
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  position: relative;

  @include rwd(lap) {
    height: 100vh;
    overflow: hidden;
  }
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(60% at 50% 30%);
  z-index: -1;
  object-position: top right;

  @include rwd(m-medium) {
    clip-path: circle(60% at 50% 27%);
  }

  @include rwd(m-large) {
    clip-path: ellipse(90% 60% at 50% 20%);
  }

  @include rwd(pc-l) {
    clip-path: circle(96% at 50% -65%);
    // animation: clip-in 3s 2s infinite;
    transition: all 0.1s;
  }
}

#root {
  position: relative;
}

#footer {
  position: absolute;
  bottom: 0%;
}

.img--hidden {
  display: none;
}
