$color__main: #00a8c0;
$color__main--light80: #00a8c0cc;
$color__main--light60: #00a8c099;
$color__main--light10: #00a8c01a;
$color__main--dark10: #009bb1;

$color__2nd: #d9ef08;
$color__2nd--light80: #d9ef08cc;
$color__2nd--light60: #d9ef0899;
$color__2nd--light20: #d9ef0833;
$color__2nd--dark20: #c8dc07;

$color--wite: #ffffff;
$color--grey-L: #c8c9cc;

$color__font: #4c546a;

//btn 預設色彩
$color__font--btn: #ffffff;
$color__bg--btn: #00a8c0;
$color__bg--btn-hover: #009bb1;

$rwd-hugest: 1800px;
$rwd-huge: 1500px;
$rwd-largest: 1170px;
$rwd-large: 850px;
$rwd-medium: 700px;
$rwd-small: 500px;
$rwd-smallest: 375px;

@mixin rwd($device) {
  @if $device== m-small {
    @media only screen and (min-width: $rwd-smallest) {
      @content;
    }
  }

  @if $device== m-medium {
    @media only screen and (min-width: $rwd-small) {
      @content;
    }
  }

  @if $device== m-large {
    @media only screen and (min-width: $rwd-medium) {
      @content;
    }
  }

  @if $device== lap {
    @media only screen and (min-width: $rwd-large) {
      @content;
    }
  }

  @if $device== pc {
    @media only screen and (min-width: $rwd-largest) {
      @content;
    }
  }

  @if $device== pc-b {
    @media only screen and (min-width: $rwd-huge) {
      @content;
    }
  }

  @if $device== pc-l {
    @media only screen and (min-width: $rwd-hugest) {
      @content;
    }
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(2000%);
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-2000%);
  }
}

@keyframes pulse-toDown {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(0px 0px 0px #00a8c0);
  }
  50% {
    filter: drop-shadow(0px 0px 10px #00a8c0);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #00a8c0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bus-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
