@import "../../sass/variable.scss";

.popup {
  &__overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(grey, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
  }

  &__container--bottom {
    position: absolute;

    width: 95%;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%);

    @include rwd(lap) {
      bottom: 0%;
      top: 63%;
      left: 50%;
      transform: translate(-50%);
      width: 15%;
    }
  }

  &__container--middle {
    position: absolute;

    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include rwd(lap) {
      width: 35%;
    }

    @include rwd(pc) {
      width: 25%;
    }

    @include rwd(pc-l) {
      width: 20%;
    }
  }
}

.hidden--popup {
  display: none;
}
