.listSmallCard {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 2rem;
  width: 90%;
  // flex: 0 1 90%;
  height: 7.1rem;
  padding: 1.2rem 1.6rem;
  margin: 1.6rem auto;
  transition: all 0.5s;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

  & div:first-child {
    flex: 1;
  }

  &__favor {
    width: 10%;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      width: 2rem;
      height: 1.6rem;
      margin-bottom: 1.025rem;
    }
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #f66a4b;
    margin-bottom: 0.2rem;
    width: 100%;

    // text-align: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.9rem;
    font-family: "Noto Sans TC";
  }

  &__subTitle {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #4c546a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    display: flex;
    align-items: center;

    img {
      margin: 0 0.5rem;
      width: 1.2rem;
      height: 0.5rem;
    }
  }

  &:hover {
    background: #ffffff;
    box-shadow: 0px 0px 16px #00a8c0;
    cursor: pointer;
  }

  &:hover * {
    color: #00a8c0;
  }
}

.listSmallCard--active {
  box-shadow: 0px 0px 16px #00a8c0;
}

.listSmallCard--nearPage {
  align-items: center;
  height: auto;

  img {
    margin: 0;
  }
}
