@import "../../sass/variable.scss";

.footer {
  flex: 0 1 100%;
  width: 100%;
  background-color: #5a637e;
  color: white;
  padding: 1.2rem 0.5rem;
  font-family: Crimson Text;
  font-weight: 400;
  font-size: 1rem;
  //   line-height: 17px;
  text-align: center;

  @include rwd(lap) {
    z-index: 110000;
  }
}

.footer--floatB {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
