.keyboard {
  background-color: white;
  padding: 1.2rem 1.6rem;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 0px 0px;

  &__arrow {
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
    cursor: pointer;
  }

  ul {
    height: 22rem;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    overflow: hidden;
    transition: all 0.2s;
  }
}

.hidden--keyboard {
  height: 0 !important;
}

.rotate {
  transform: rotate(180deg);
}
